@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@400;700&display=swap');

:root {
    --header-font: 'Nanum gothic', sans-serif;
    --content-font: 'Open Sans', sans-serif;
    --color: rgb(255,87,34);
    --color-dark: rgb(204, 88, 49);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--content-font);
}
h1, h2, h3, label {
	font-family: var(--header-font);
	color: rgba(48,63,159, 1);
	text-transform: uppercase;
}
h3 {
	color: black;
	font-size: 20px;
}
input, textarea {
	border:2px solid #f8f9fa!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(48,63,159, 1);
    font-family: var(--header-font);
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(48,63,159, 0.8)
}
.navbar-light .navbar-toggler-icon {
	background-image: url("../img/hamburger.svg");
}
.navbar-light .navbar-toggler {
	border-color: rgba(0,0,0,0)
}
.navbar.scrolled {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    animation: navbarScrolled 0.5s;
    top: 0;
}
@keyframes navbarScrolled {
    from {
        margin-top: -100%;
    }
}
.current {
	color: rgba(255,87,34, 1)!important;
}
.btn-primary {
	background: rgba(255,87,34, 1);
	border-color: #ff5722;
}
.btn-primary:hover, .btn-primary:focus {
	background: rgba(234,74,31, 1)!important;
	border-color: #ff5722;
}
.btn-outline-primary {
    color: #ff5722;
	border-color: #ff5722;
}
.btn-outline-primary:hover, .btn-outline-primary:focus {
    background: rgba(234,74,31, 1)!important;
	border-color: #ff5722;
}
.hero {
	background: url("../img/bg-hero-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.hero .logo {
	margin-top: 10vh;
	text-align: center;
}
.hero .logo img {
	max-width: 400px;
}
.text {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10vh;
}
.donate {
    border-top: 5px solid var(--color);
    border-radius: 0;
    width: 90vw;
    max-width: none;
}
.donate h3, .donate p {
    text-align: center;
    font-size: 30px;
    text-transform: none;
    font-weight: 100;
}
.donate p {
    font-size: 20px;
}



.paySystem {
    display: flex;
}

    .paySystem div.opt {
        margin-right: 10px;
        margin-left: 10px;
        height: 4em;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 10px;
        border: 2px solid black;
        cursor: pointer;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paySystem div.opt:not(.selected):hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .paySystem div.opt:not(.other) {
        width: 6em;
    }

    .paySystem div.selected {
        font-weight: bold;
        background: var(--color);
        color: white;
    }

    /*      .paySystem div.opt:after {
        height: 0;
        width: 100%;
        content: " ";
        background-color: blue;
        position: relative;
        display: block;
        top: 20px;
        left: 0px;

        transition: all 0.2s;
      }

      .paySystem div.opt:hover:after,
      .paySystem div.opt.selected:after {
        height: 5px;
        top: 15px;
      } */

    .paySystem div.opt input {
        background: transparent;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid;
        outline: none;
        color: black;
        width: 4em;
    }

    .paySystem div.selected.opt input {
        color: white;
    }

    .paySystem div.selected.opt input {
        font-weight: bold;
    }

    .paySystem button {
        width: 8em;
        border: none;
        border-radius: 0;
        background: var(--color);
        color: white;
        font-family: var(--content-font);
        font-size: 20px;
        cursor: pointer;
        outline: none;
        transition: all 0.5s;
    }

        .paySystem button:hover {
            background: var(--color-dark);
        }

    .paySystem button.disabled {
            background-color: darkgray;
            cursor: not-allowed;
    }

    .paySystem .splitLine {
        border-left: 3px solid;
        width: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

.other label {
    color: black;
    margin: 0;
}

.other input {
    margin-left: 10px;
}
.other.selected label {
    color: white;
}
.modal-dialog {
    width: 90vw;
    max-width: none;
}
.modal-body {
    margin: auto;
    text-align: center;
}
.the-latest a {
	color: #000!important;
}
.external-links a {
	font-size: 1.5rem;
	color: #000!important;
}
/* Downloads Page */
#downloads {
	font-size: 1rem;
}

/* Documentation Page */
#documentation {
	margin-bottom: 500px;
}
/*
@media (max-width: 767px) {
.hero {
	background: url("../img/bg-hero-2.jpg");
	}
}
*/

#wrapper {
    animation: margin-top-animation 1s;
    border-top: 0px solid rgba(0, 0, 0, 0);
}

@keyframes margin-top-animation {
    from {
        border-top: 50px solid rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

